<form (ngSubmit)="AddUser()" [formGroup]="userForm">
  <div class="form-group">
    <label for="txfirstname">First Name</label>
    <input type="text" class="form-control" id="txfirstname" formControlName="firstName" >
  </div>

  <div class="form-group">
      <label for="txlasttname">Last Name</label>    
      <input type="text" class="form-control" id="txlastname" formControlName="lastName" >
  </div>

  <button type="submit" class="btn btn-primary">Add</button>

  <ul class="list-group">
    <li *ngFor="let user of Users; index as i; ">
        {{ user }}
        <button class="btn btn-danger" (click)="Delete(i)">X</button>
    </li>
  </ul>
</form>
