<form (ngSubmit)="AddUser(f)" #f="ngForm">
  <div class="form-group">
    <label for="txfirstname">First Name</label>
    <input type="text" class="form-control" id="txfirstname" name="txfirstname" ngModel>
  </div>

  <div class="form-group">
    <label for="txlasttname">Last Name</label>
    <input type="text" class="form-control" id="txlastname" name="txlastname" ngModel>
  </div>

  <button type="submit" class="btn btn-primary">Add</button>

  <ul class="list-group">
    <li *ngFor="let user of Users; index as i; ">
      {{ user }}
      <button class="btn btn-danger" (click)="Delete(i)">X</button>
    </li>
  </ul>
</form>
